body {
  font-family: arial;
  font-size: 20px;
  text-align: justify;
  padding: 0;
  margin: 0 300px 0 300px;
}

h1, h2 {
  text-align: center;
}

p {
  text-indent: 30px;
  margin-bottom: px;
}

img {
  width: 550px;
}

.image-space {
  float: left;
  margin-right: 20px;
}

.signature {
  font-size: 14px;
}

.image-tree {
  float: right;
  margin-left: 20px;
}

hr {
  margin-bottom: 50px;
}




address {
  width: 250px;
  outline: 1px solid black;
}
.address-block {
  padding: 5px;
  width: 100%;
}

.address-block-label {
  display: inline-block;
  width: 35%;
  font-weight: bold;
  letter-spacing: 0.7px;
}

.address-block-link {
  display: inline-block;
  width: 60%;
  color: darkred;
}

aside: {
  border-radius: 100% 100% 100% 100%;
  background: url();
  width: 180px;
  height: 180px;
}

footer {
  margin-top: 250px;
}
