body {
  font-family: aria;
  text-align: justify;
  text-transform: none;
  padding: 0;
  margin: 0 300px 0 300px;

}

h1, h2 {
  font-family: bell mt;
  text-align: center;
}

h1 {
  font-size: 70px;
  text-transform: capitalize;
  margin-bottom: 15px;
}

h2 {
  font-size: 45px;
}

p {
  text-indent: 30px;
  font-size: 21px;
}

img, .video {
  width: 550px;
}

.image-space, .video, .image-photo, .list {
  float: left;
  margin-right: 20px;
}

.image-tree, .image-clothes {
  float: right;
  margin-left: 20px;
}

address {
  float: right;
  margin: -40px 60px 20px 0px;
}

footer {
 color: #fff;
  background: #3b5998;
  padding: 20px;
  margin-top: 70px;
  height: 130px;
}

#footer-technology {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  font-family: arial;
  margin: 35px 0px 0px 200px;
}

#footer-mult {
  margin-left: 180px;
}

a {
  color: #fff;
  text-decoration: none;
}
